/* skip navigation */
.skip_navi a { display:block; position:absolute; left:0; top:-100px; width:100%; padding:0px 0; text-align:center; z-index:1001; border:none; }
.skip_navi a:active, .skip_navi a:focus { top:0; font-weight:bold; padding:5px 0; background:#e1e1e1; line-height:1.5; border-bottom:1px solid #aaa; outline:transparent; }

.inner { position:relative; width:1280px; margin:0 auto; }

/* header */ 
.header_wrapper { position:relative; width:100%; justify-content:center; }
.topStrap_banner a { display:block;width:1280px; margin:0 auto; }
.header_wrapper .header_top { width:100%; height:80px; border-bottom:1px solid var(--neutral_300); display:flex; justify-content:center; align-items:center; }
.header_wrapper h1 img { height:31px; }
.header_top .inner { display:flex; justify-content:space-between; align-items:center; }
.header_top ul { display:flex; justify-content:space-between; align-items:center; }
.header_top ul li:after { content:"|"; margin:0 14px; color:var(--neutral_500); }
.header_top ul li:last-child:after { content:""; margin:0; }
.header_top ul li:first-child a { border:1px solid var(--secondary_normal); padding:4px 10px; border-radius:20px; }
.header_top ul li:first-child a:hover { background:var(--neutral_100); }
.header_top ul a { font-weight:600; }
.header_top ul a .material-symbols-rounded { vertical-align:-6px; margin-left:3px; }
.header_wrapper .gnb { border-bottom:1px solid var(--neutral_300); width:100%;  }
.header_wrapper .gnb > .inner { height:63px; display:flex; justify-content:space-between; align-items:center; }
.header_wrapper nav .gnb_menu { display:flex; justify-content:flex-start; align-items:center; gap:39px; }
.header_wrapper .gnb_menu a:not(.two_depth a) { font-size:var(--font_xlarge); padding:0 16px; font-weight:700;  }
.header_wrapper .gnb_menu > li { display:flex; justify-content:center; }
.authentication_logo { width:212px; margin-right:45px !important; }
.authentication_logo li { background:var(--neutral_0); display:flex; justify-content:center; }
.authentication_logo li img {  height:31px; display:flex; justify-content:center; align-items:center; }
.gnb_menu .two_depth { position:absolute; top:82px; z-index:1001; }
.gnb .gnb_bg { position:relative; width:100%; padding:16px 0 50px; z-index:1000; border-top:1px solid var(--neutral_300); min-height:250px; }
.gnb .gnb_bg:after { content:"";  position:absolute; left:0; right:0; top:100%;
  height:10px;pointer-events:none; background:linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0)); z-index: 0; }
.gnb_menu .two_depth a { display:block; width:100%; font-weight:500; padding:4px 0; text-align:center }
.gnb_bg .menuLayer_banner { position:absolute; top:40px; right:calc((100% - 1280px) / 2);
 z-index: 1002; width:302px; height:150px; }